{% extends 'base.html'%}
{% import 'macros.html' as macro%}

 {% block content %}
          <!-- Popular movie -->
          <h3> Trending News</h3>
          

              {{ macro.displayNewsList(trending)}}
           
          <h3> Sports </h3>
          
              {{ macro.displayNewsList(sports)}}
          

           <h3>Business</h3>
          

              {{ macro.displayNewsList(business)}}
          
              <h3>Entertainment</h3>
              {{ macro.displayNewsList(entertainment)}}

              <h3>Technology</h3>
              {{ macro.displayNewsList(technology)}}

{% endblock%}
  