{% extends 'base.html'%}
{% import 'macros.html' as macro%}



<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
 {% block content %}
          <!-- Popular movie -->
          <h3> Trending News</h3>
          

              {{ macro.displayNewsList(trending)}}
           
          <h2> Sports </h2>
          
              {{ macro.displayNewsList(sports)}}
          

           <h6>Business</h6>
          

              {{ macro.displayNewsList(business)}}
          
              <h5>Entertainment</h5>
              {{ macro.displayNewsList(entertainment)}}

              <h1>Technology</h1>
              {{ macro.displayNewsList(technology)}}

{% endblock%}
  