{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{news.poster}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 news-details">
            <h3>{{ news.title }}</h3>

            <p class="poster"> {{ news.poster}}</p>
            <p class="desc"> <b> {{ news.description }}</b> - <i>{{ news.name}}</i> </p>


        </div>
    </div>

</div>
{% endblock %}